.networks {
	// .networks__contact
	&__contact {
		transition: all $hoverTime ease;

		&:hover {
			transform: translate(0, -3px);
		}

		&:hover ._icon-telegram:before,
		&:hover ._icon-viber:before,
		&:hover ._icon-whatsapp:before {
			color: $teal-200;
		}
	}
}
