.header {
	position: fixed;
	width: 100%;
	top: 20px;
	left: 0;
	z-index: 9;
	// background-color: tomato;
	transition: all $hoverTime ease;

	&::before {
		content: "";
		max-width: 100%;
		position: absolute;
		z-index: 0;
		background-color: $white-400;
		top: 30px;
		left: 50px;
		right: 50px;
		border-radius: 30px;
		box-shadow: 0 0 40px 40px $white-400;
		transition: all $hoverTime ease;

		@include xl {
		}

		@include lg {
		}

		@include md {
			// display: none;
			// z-index: 9;
		}

		@include sm {
		}
	}

	// .header__content

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// min-height: 70px;
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 1;
		max-width: 64px;
	}

	// header__image

	&__image {
	}

	// .header__menu

	&__menu {
	}
}

// =======================================

.logo {
}

// =======================================

.menu {
	// .menu__image

	&__image {
	}

	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		position: relative;
		z-index: 1;
	}

	// .menu__list

	&__list {
	}

	// .menu__item

	&__item {
	}

	// .menu__link

	&__link {
		color: $black-200;
		text-decoration: transparent;
		transition: all $hoverTime ease;
	}

	// .menu__callback

	&__callback {
		display: flex;
		text-decoration: transparent;
		color: $black-200;
		background-color: transparent;
		padding: 0 0 0 20px;
		transition: all $hoverTime ease;

		@include xl {
			display: none;
		}
	}

	// .menu__phones

	&__phones {
	}

	// .menu__arrow

	&__arrow {
		display: none;
		@include xl {
			display: block;
		}
		@include md {
			display: none;
		}
	}

	// .menu__phone

	&__phone {
	}

	// .menu__tel

	&__tel {
		font-weight: 700;
		color: $black-200;
		transition: all $hoverTime ease;
	}
}

// =======================================

.icon-menu {
	@include md-min {
	}
}

@include md-min {
	.menu {
		flex: 1 1 100%;
		// height: 100%;
		align-items: center;
		display: flex;
		&__body {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			display: flex;
			justify-content: space-between;
			// align-items: center;
			padding: 0 10px 0 30px;
		}

		&__item {
			&:not(:last-child) {
				margin: 0 30px 0 0;
			}
		}

		&__link {
			&:hover {
				color: $teal-400;
				text-decoration: underline;
			}

			&:active {
			}

			&:focus {
			}
		}

		&__callback {
			&:hover {
				color: $teal-400;
				text-decoration: underline;

				& ._icon-phone {
					&::before {
						color: $teal-400;
					}
				}
			}

			&:active {
			}

			&:focus {
			}
		}

		&__phones {
		}

		&__phone {
			&:not(:last-child) {
				margin: 0 0 5px;
			}
		}

		&__tel {
			&:hover {
				color: $teal-400;
			}

			&:active {
			}

			&:focus {
			}
		}
	}
}
