.footer {
	background-color: $teal-300;
	padding: 42px 0 30px;

	@include md {
		padding: 20px 0;
	}

	// .footer__list
	&__list {
		max-width: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;

		@include md {
			flex-direction: column;
			text-align: center;
			align-items: center;
		}
	}

	// .footer__unit
	&__unit {
		max-width: 100%;
		font-weight: 400;
		color: $white-400;

		&--logo {
			margin-bottom: 7px;
			@include md {
				order: 2;
			}
		}

		&--phones {
			max-width: 425px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@include lg {
				max-width: 300px;
			}

			@include md {
				order: 1;
				margin: 0 0 30px;
			}
		}

		&--www {
			align-self: end;

			@include lg {
				display: none;
			}
		}
	}

	// .footer__logo
	&__logo {
		display: block;
		max-width: 64px;
		// margin: 0 0 5px;
	}

	// .footer__copy
	&__copy {
		display: block;
	}

	// .footer__note
	&__note {
		display: block;
		margin: 0 0 15px;
	}

	// .footer__phones
	&__phones {
		display: flex;
		font-weight: 400;
		justify-content: space-between;
		max-width: 320px;

		@include lg {
			position: static;
			top: 0;
			left: 0;
			width: auto;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			padding: 0;
		}

		@include md {
			font-size: 18px;
			flex-direction: column;
			align-self: center;
		}
	}

	&__phone {
		@include md {
			&:not(:last-child) {
				margin: 0 0 5px;
			}
		}
	}

	// .footer__number
	&__number {
		font-weight: 400;
		color: $white;
	}

	// .footer__contact
	&__contact {
		display: block;
		padding: 0 0 8px;
	}

	// .footer__email
	&__email {
		font-weight: 400;
		color: $white-400;
	}

	// .footer__webadress
	&__webadress {
		display: block;
		font-weight: 400;
		color: $white-400;
		padding: 8px 0 2px;
	}
}
