.hero {
	max-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $teal-400;
	padding: 100px 0 0;

	// .hero__content
	&__content {
		display: flex;
		align-items: center;
	}

	// .hero__main
	&__main {
		flex: 0 0 100%;
	}

	// .hero__inner
	&__inner {
		max-width: 50%;
		background-color: $white-400;
		margin: 0 0 0 20px;
		box-shadow: 0 0 50px 60px $white-400;

		@include xl {
			position: relative;
			z-index: 2;
			opacity: 0.8;
			margin: 0 auto;
			max-width: 520px;
			box-shadow: 0 0 40px 50px $white-400;
		}
	}

	// .hero__offer

	// &__offer {
	// }

	// .hero__title
	&__title {
		font-weight: 700;
		font-size: 42px;
		margin: 0 0 20px;

		@include sm {
			font-size: 36px;
			text-align: center;
		}
	}

	// .hero__subtitle
	&__subtitle {
		display: inline-block;
		font-weight: 700;
		max-width: 406px;
		font-size: 36px;
		line-height: 1.2;
		margin: 0 0 30px;

		@include sm {
			font-size: 28px;
			text-align: center;
		}
	}

	// .hero__allocation
	&__allocation {
		color: $teal-400;
		font-size: 36px;
		@include xl {
		}

		@include sm {
			font-size: 28px;
			text-align: center;
		}
	}

	// .hero__descriptions
	&__descriptions {
		position: relative;
		font-size: 20px;
		margin: 0 0 31px;
		padding-left: 45px;

		@include sm {
			font-size: 16px;
			padding-left: 30px;
		}
	}

	// .hero__description
	&__description {
		&:not(:last-child) {
			margin: 0 0 13px;
		}
	}

	// .hero__order
	&__order {
		max-width: 495px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		@include sm {
			flex-direction: column;
		}
	}

	// .hero__button
	&__button {
		max-width: 291px;
		padding: 15px 6px;

		@include sm {
			max-width: 215px;
			padding: 10px 6px;
			margin: 0 auto 30px;
		}
	}

	// .hero__contacts
	&__contacts {
		align-self: flex-end;
		margin: 20px 0 0 10px;

		@include sm {
			margin: 0 auto 20px;
		}
	}

	// .hero__view
	&__view {
		position: relative;
		flex: 0 0 50%;
		transform: translate(-80%, 0);

		@include xl {
			flex: 0 0 100%;
			z-index: 0;
		}

		.covid-one {
			left: -13%;
			bottom: -16%;

			&__picture {
				max-width: 80%;
				object-fit: cover;
				animation: leftRotate 60s infinite linear;
			}
		}

		.covid-two {
			left: 386px;
			bottom: -70px;

			@include xl {
				display: none;
			}

			&__picture {
				max-width: 48%;
				animation: rightRotate 80s infinite linear;
			}
		}

		.covid-three {
			left: 400px;
			top: 80px;

			@include xl {
				left: 30%;
				top: 20px;
			}

			&__picture {
				max-width: 43%;
				animation: movingLine 30s linear infinite alternate;
			}
		}

		.covid-fore {
			left: -70px;
			top: -30px;
			opacity: 0.4;

			&__picture {
				max-width: 32%;
				animation: rightRotate 60s infinite linear;
			}
		}

		.covid-five {
			left: -70px;
			top: 38%;
			opacity: 0.6;

			&__picture {
				max-width: 18%;
				animation: movingUp 50s infinite linear;
			}
		}

		.covid-six {
			left: -235px;
			top: 130px;
			opacity: 0.5;

			&__picture {
				max-width: 55%;
				animation: movingUpper 60s infinite linear;
			}
		}

		.covid-seven {
			left: 39%;
			top: -17%;
			opacity: 0.5;

			@include xl {
				display: none;
			}

			&__picture {
				animation: movingUp 60s infinite linear;
				max-width: 48%;
			}
		}

		.covid-eight {
			left: 50%;
			top: 40%;
			opacity: 0.8;

			@include xl {
				left: 60%;
				top: 20%;
			}

			&__picture {
				max-width: 45%;
				animation: movingUp 50s infinite linear;
			}
		}

		.covid-nine {
			left: -15%;
			bottom: 11%;
			opacity: 0.9;

			@include xl {
				left: 50%;
				bottom: 0%;
			}

			&__picture {
				animation: movingUp 80s infinite linear;
				max-width: 66%;
			}
		}
		// }
	}

	// .hero__image
	&__image {
		@include xl {
			visibility: hidden;
		}
	}
}

.networks {
	&__list {
		max-width: 135px;
		display: flex;
		justify-content: space-between;
	}

	// .networks__link
	&__link {
		display: block;
		font-size: 32px;
	}

	// .networks__note
	&__note {
		font-size: 10px;
		color: $black-200;
	}
}
