.hits {
	padding-top: 100px;
	// .hits__content

	&__content {
	}

	// .hits__title

	&__title {
	}

	& .product {
		max-width: 375px;
	}

	& .product__image {
		display: none;
	}

	& .product__value {
		display: none;
	}
}
