.connect {
	padding: 63px 0 60px;

	// .connect__content
	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		min-height: 441px;

		@include lg {
			justify-content: center;
		}
	}

	// .connect__rectangle
	&__rectangle {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 730px;
		width: 100%;
		min-height: 441px;
		border: 2px solid $teal-200;
		border-radius: 10px;

		@include lg {
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	.request {
		height: 100%;
		position: relative;
		z-index: 5;
		box-shadow: 0 0 0 0 transparent;
	}
}

.covid-16 {
	top: 40px;
	left: -100px;

	@include lg {
		top: -170px;
	}

	@include sm {
		z-index: 3;
	}

	@include md {
		top: -140px;
		left: -80px;
	}

	// .covid-16__picture
	&__picture {
		animation: rightRotate 60s linear infinite;

		@include md {
			max-width: 70%;
		}
	}
}
