.contacts {
	position: relative;
	background-color: $teal-400;

	// .contacts__content
	&__content {
		position: relative;
		z-index: 3;
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 125px 0 120px;

		@include lg {
			flex-direction: column;
		}

		@include sm {
			padding: 30px 0 90px;
		}
	}

	// .contacts__img
	&__img {
		max-width: 635px;
		margin: 0 80px 0 0;

		@include xl {
			max-width: 550px;
		}

		@include lg {
			margin: 0 0 100px;
		}

		@include sm {
			max-width: 260px;
		}
	}

	// .contacts__image
	&__image {
		border-radius: 12px;
	}

	// .contacts__init
	&__init {
		transform: translate(0, -5px);
		max-width: 330px;
		width: 100%;
		background-color: $white-400;
		box-shadow: 0 0 50px 60px $white-400;
		padding: 35px 10px 20px;

		@include xl {
			max-width: 255px;
			padding: 10px 10px;
			box-shadow: 0 0 50px 60px $white-400;
		}
	}

	// .contacts__title
	&__title {
		margin: 0 0 33px;
	}

	// .contacts__unit
	&__unit {
		line-height: 1.2;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--phones {
			display: flex;
		}

		&--email {
			display: flex;
			max-width: 225px;
		}
	}

	// .contacts__name
	&__name {
		display: inline-block;
		max-width: 92px;
		width: 100%;
		font-weight: 700;
		font-size: 18px;
		color: $black-000;

		&--city {
			max-width: 68px;
		}
	}

	// .contacts__phones
	&__phones {
		text-align: left;

		@include lg {
			position: static;
			top: 0;
			left: 0;
			width: auto;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			padding: 0;
		}

		@include md {
			font-size: 18px;
		}
	}

	// .contacts__phone
	&__phone {
		display: block;

		@include md {
			&:not(:last-child) {
				margin: 0 0 5px;
			}
		}
	}

	// .contacts__number
	&__number {
		font-weight: 400;
	}

	// .contacts__email
	&__email {
		color: $black-200;
	}

	.covid-10 {
		bottom: -80px;
		right: 70px;
		overflow: hidden;
		z-index: 2;

		@include md {
			bottom: -30px;
			right: 0;
		}

		// .covid-10__picture
		&__picture {
			animation: leftRotate 60s infinite linear;

			@include md {
				max-width: 50%;
			}
		}
	}

	.covid-11 {
		top: -150px;
		left: -150px;
		z-index: 2;

		@include md {
			top: -90px;
			left: -100px;
		}

		// .covid-11__picture
		&__picture {
			max-width: 70%;
			animation: movingUp 80s infinite linear;
		}
	}
}
