.dellivery {
	padding: 63px 0 120px;

	// .dellivery__content
	&__content {
		position: relative;
	}

	// .dellivery__title
	&__title {
		margin: 0 0 55px;
	}

	// .dellivery__list
	&__list {
		display: grid;
		grid-column-gap: 20px;
		grid-row-gap: 32px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 0 180px 0 190px;

		@include xl {
			padding: 0 50px 0 100px;
			grid-column-gap: 30px;
			grid-row-gap: 10px;
		}

		@include lg {
			padding: 0 50px;
		}

		@include md {
			display: block;
		}

		@include sm {
			padding: 0;
		}
	}

	// .dellivery__item
	&__item {
		position: relative;
		max-width: 350px;
		width: 100%;
		padding: 100px 0 0;

		@include xl {
			padding: 70px 0 0;
		}

		@include md {
			margin: 0 auto;

			&:not(:last-child) {
				margin: 0 auto 15px;
			}
		}

		@include sm {
			max-width: 280px;
			padding: 70px 0 0;
		}

		&:nth-child(1) {
			&::before {
				content: "1";
			}
		}

		&:nth-child(2) {
			&::before {
				content: "2";
			}
		}

		&:nth-child(3) {
			&::before {
				content: "3";
			}
		}

		&:nth-child(4) {
			&::before {
				content: "4";
			}
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			&::before {
				position: absolute;
				z-index: 0;
				top: 23px;
				left: 0px;
				font-weight: 700;
				font-size: 150px;
				color: $white-400;
				text-shadow: 3px 3px 5px $black-025;

				@include xl {
					top: 0px;
				}

				@include sm {
					font-size: 100px;
				}
			}
		}
	}

	// .dellivery__subtitle
	&__subtitle {
		position: relative;
		z-index: 2;
		font-weight: 700;
		font-size: 30px;
		margin: 0 0 20px;

		@include sm {
			font-size: 24px;
		}
	}

	// .dellivery__text
	&__text {
		position: relative;
		z-index: 2;
		line-height: 1.3;

		@include sm {
			font-size: 16px;
		}
	}
}

.covid-17 {
	top: 40px;
	left: 0;
	opacity: 0.1;

	@include xl {
		top: -70px;
	}

	// .covid-17__picture
	&__picture {
		max-width: 70%;
		animation: movingUp 60s infinite linear;
	}
}

.covid-18 {
	top: 16%;
	right: -120px;
	width: 40%;
	opacity: 0.1;

	// .covid-18__picture
	&__picture {
		width: 100%;
		animation: scale 100s infinite linear;
	}
}
