body {
	color: $black-200;
	&._lock {
		overflow: hidden;
	}
}

//<ОБОЛОЧКА>=============================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
// ======================================

//<ОСНОВНАЯ СЕТКА>====================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}
// ==================================================

//<ОСНОВНОЙ БЛОК>====================================
.page {
	flex: 1 1 auto;
}
//===========================================

//<title>====================================
._title {
	font-weight: 700;
	font-size: 36px;
}
//===========================================

// <covid> ====================================
.covid {
	position: absolute;
	z-index: 9;
}
// ============================================
