<section class="advantages" id="advantages">
	<h2 class="advantages__title">
		<span class="sr-only">
			Преимущества
		</span>
	</h2>

	<div class="advantages__content _container">

		<ul class="advantages__list">
			<li class="advantages__item _icon-medical-mask">
				Двухслойные маски
				с клапаном для вставки фильтра
			</li>

			<li class="advantages__item _icon-washer">
				Можно стирать даже в стиральной
				машине и утюжить паром
			</li>

			<li class="advantages__item _icon-size">
				Размер один универсальный, по запросу
				отошьем по вашим размерам
			</li>

			<li class="advantages__item _icon-camera">
				Маски стали не только средством
				индивидуальной защиты,
				но и модным аксессуаром
			</li>

			<li class="advantages__item _icon-www">
				Фирменные маски с логотипом
				могут стать визитной карточкой
				вашей компании
			</li>

			<li class="advantages__item _icon-pet">
				Каждая маска отшивается в ручную,
				невесома, мягко цепляется за ушные
				раковины, не царапает края
			</li>
		</ul>
	</div>
</section>