<div class="contacts">
	<div class="covid covid-10">
		<img class="covid-10__picture" src="img/covid/1.png" alt="Изображение - вирус">
	</div>

	<div class="_container">
		<div class="contacts__content">

			<div class="covid covid-11">
				<img class="covid-11__picture" src="img/covid/2.png" alt="Изображение - вирус">
			</div>

			<div class="contacts__img">
				<img class="contacts__image" src="img/products/4.jpg" alt="Маска Авокадо">
			</div>

			<div class="contacts__init">
				<h2 class="contacts__title _title">
					<span class="sr-only">
						Контакты
					</span>
					Контакты
				</h2>

				<ul class="contacts__list">
					<li class="contacts__unit">
						<span class="contacts__name contacts__name--city">
							Адрес:
						</span>
						г. Киев
					</li>

					<li class="contacts__unit contacts__unit--phones">
						<span class="contacts__name">
							Телефон:
						</span>

						<ul class="contacts__phones menu__phones">
							<li class="contacts__phone menu__phone ">
								<a class="contacts__number menu__number" href="tel:+380989999999">+380 98 999 99 99</a>
							</li>

							<li class="contacts__phone menu__phone">
								<a class="contacts__number menu__number" href="tel:+380989999999">+380 98 999 99 99</a>
							</li>
						</ul>
					</li>

					<li class="contacts__unit contacts__unit--email">
						<span class="contacts__name">
							Email:
						</span>
						<a class="contacts__email" href="v.zhevaga@gmail.com">v.zhevaga@gmail.com</a>
					</li>

					<li class="contacts__networks">
						@@include('networks.html',{})
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>