<section class="dellivery" id="dellivery">
	<div class="_container">
		<div class="dellivery__content">
			<h2 class="dellivery__title _title">
				<span class="sr-only">
					Доставка
				</span>
				Доставка
			</h2>

			<ul class="dellivery__list">
				<li class="dellivery__item">
					<h3 class="dellivery__subtitle">
						Заявка на сайте
					</h3>
					<div class="dellivery__text">
						<p>
							Вы оставляете заявку на заказ маски
							на нашем сайте или связываетесть
							с нами в мессенджерах
						</p>
					</div>
				</li>

				<li class="dellivery__item">
					<h3 class="dellivery__subtitle">
						Уточнение деталей
					</h3>
					<div class="dellivery__text">
						<p>
							Мы вам перезваниваем и уточняем какая модель маски вам понравилась
							или хотите сделать свое изображение.
							Уточняем детали доставки
						</p>
					</div>
				</li>

				<li class="dellivery__item">
					<h3 class="dellivery__subtitle">
						Оплата и доставка
					</h3>
					<div class="dellivery__text">
						<p>
							Вы оплачиваете заказ, мы отправляем
							Почтой России, СДЭК или другой ТК.
							Срок доставки 1-3 дня
						</p>
					</div>
				</li>

				<li class="dellivery__item">
					<h3 class="dellivery__subtitle">
						Получение
					</h3>
					<div class="dellivery__text">
						<p>
							Получаете заказ. Внутрь можно вставить бинт, сложенный в несколько раз, добавить несколько капель
							антисептического масла (сосны, чайного дерева, лимона, можжевельника)
						</p>
					</div>
				</li>
			</ul>

			<div class="covid covid-17">
				<img class="covid-17__picture" src="img/covid/2.png" alt="Изображение - вирус">
			</div>

			<div class="covid covid-18">
				<img class="covid-18__picture" src="img/covid/1.png" alt="Изображение - вирус">
			</div>

		</div>
	</div>
</section>