<footer class="footer">
	<div class="_container">
		<ul class="footer__list">
			<li class="footer__unit footer__unit--logo">
				<a class="footer__logo logo _goto-block" href="#home">
					<img class="logo__image" src="img/logo.png" alt="Логотип">
				</a>
				<span class="footer__copy">
					2022, © Все права защищены
				</span>
			</li>

			<li class="footer__unit footer__unit--phones">
				<span class="footer__note">
					Звоните по любым вопросам:
				</span>

				<ul class="footer__phones menu__phones">
					<li class="footer__phone menu__phone ">
						<a class="footer__number menu__number" href="tel:+380989999999">+380 98 999 99 99</a>
					</li>

					<li class="footer__phone menu__phone">
						<a class="footer__number menu__number" href="tel:+380989999999">+380 98 999 99 99</a>
					</li>
				</ul>

				<div class="footer__contact">
					<span class="footer__name">
						Email:
					</span>
					<a class="footer__email" href="v.zhevaga@gmail.com">v.zhevaga@gmail.com</a>
				</div>
			</li>

			<li class="footer__unit footer__unit--www">
				Сайт сделан:
				<a class="footer__webadress" href="zhevaha.ua">
					zhevaha.ua
				</a>
			</li>
		</ul>
	</div>
</footer>