<footer class="footer">
	<div class="_container">
		<ul class="footer__list">
			<li class="footer__unit footer__unit--logo">
				<a class="footer__logo logo _goto-block" href="#home">
					<img class="logo__image" src="img/logo.png" alt="Логотип">
				</a>
				<span class="footer__copy">
					2020, © Все права защищены
				</span>
			</li>

			<li class="footer__unit footer__unit--phones">
				<span class="footer__note">
					Звоните по любым вопросам:
				</span>

				<ul class="footer__phones menu__phones">
					<li class="footer__phone menu__phone ">
						<a class="footer__number menu__number" href="tel:+89090952218">8 (909) 095 22 18</a>
					</li>

					<li class="footer__phone menu__phone">
						<a class="footer__number menu__number" href="tel:+89194000725">8 (919) 400 07 25</a>
					</li>
				</ul>

				<div class="footer__contact">
					<span class="footer__name">
						Email:
					</span>
					<a class="footer__email" href="felt_dreams@bk.ru">felt_dreams@bk.ru</a>
				</div>
			</li>

			<li class="footer__unit footer__unit--www">
				Сайт сделан:
				<a class="footer__webadress" href="vk.com/designweb20">
					vk.com/designweb20
				</a>
			</li>
		</ul>
	</div>
</footer>