<header class="header">
	<div class="_container">

		<div class="header__content _lp">
			<a class="header__logo logo _goto-block" href="#home">
				<img class="logo__image" src="img/logo.png" alt="Логотип">
			</a>

			<div class="header__menu menu">
				<button class="menu__icon icon-menu" type="button">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<nav class="menu__body">
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link _goto-block" href="#advantages">Преимущества</a>
						</li>

						<li class="menu__item">
							<a class="menu__link _goto-block" href="#hits">Хиты продаж</a>
						</li>

						<li class="menu__item">
							<a class="menu__link _goto-block" href="#dellivery">Доставка</a>
						</li>

						<li class="menu__item">
							<a class="menu__link _goto-block" href="#contacts">Контакты</a>
						</li>
					</ul>

					<a class="menu__callback _popup-link" href="#callback">
						<span class="_icon-phone"></span>
						<div class="menu__recvest">
							Заказать
							<span class="menu__back">
								обратный звонок
							</span>
						</div>
					</a>

					<div class="menu__arrow">
						<span class="menu__tel">тел.</span>
						<ul class="menu__phones">
							<li class="menu__phone">
								<a class="menu__number" href="tel:+999999999999">+380 98 999 99 99</a>
							</li>

							<li class="menu__phone">
								<a class="menu__number" href="tel:+999999999999">+380 98 999 99 99</a>
							</li>
						</ul>
					</div>
				</nav>

			</div>
		</div>
	</div>

</header>