<section class="hero" style="background: url(img/background/preview.png)">
	@@include('header.html',{})
	<div class="hero__content _container">
		<div class="hero__main">

			<div class="hero__offer">
				<h1 class="hero__title _title">

					<span class="sr-only">
						Двухслойные маски
					</span>

					Двухслойные маски
					<span class="hero__subtitle">
						При покупке от 5 штук брелок в
					</span>
					<span class="hero__allocation">
						подарок
					</span>
				</h1>
			</div>

			<ul class="hero__descriptions">
				<li class="hero__description _icon-check">
					Нанесение логотипа вашей компании
				</li>

				<li class="hero__description _icon-check">
					Изготовление на заказ с вашим изображением
				</li>
			</ul>

			<div class="hero__order">
				<button class="hero__button">
					Заказать маску
				</button>
				<div class="hero__contacts">

					<div class="networks">
						<ul class="networks__list">
							<li class="networks__contact">
								<a class="networks__link _icon-telegram" href="#"></a>
							</li>

							<li class="networks__contact">
								<a class="networks__link _icon-whatsapp" href="#"></a>
							</li>

							<li class="networks__contact">
								<a class="networks__link _icon-viber" href="#"></a>
							</li>
						</ul>

						<span class="networks__note">
							Нажмите, чтобы перейти в диалог
						</span>
					</div>

				</div>
			</div>
		</div>

		<!-- <div class="hero__view">
			<img class="hero__image" src="img/background/preview.png" alt="Превью">
		</div> -->
	</div>
</section>