<!-- <section class="hero" style="background: url(img/background/preview.png)"> -->
@@include('header.html',{})
<section class="hero" id="home">
	<div class="hero__content">
		<div class="hero__main">
			<div class="_container">

				<div class="hero__inner">
					<div class="hero__offer">
						<h1 class="hero__title _title">

							<span class="sr-only">
								Двухслойные маски
							</span>

							Двухслойные маски
						</h1>
						<span class="hero__subtitle">
							При покупке от 5 штук брелок в
							<span class="hero__allocation">
								подарок
							</span>
						</span>
					</div>

					<ul class="hero__descriptions">
						<li class="hero__description _icon-check">
							Нанесение логотипа вашей компании
						</li>

						<li class="hero__description _icon-check">
							Изготовление на заказ с вашим изображением
						</li>
					</ul>

					<div class="hero__order">
						<button class="hero__button button">
							Заказать маску
						</button>

						<div class="hero__contacts">
							<div class="networks">
								<ul class="networks__list">
									<li class="networks__contact">
										<a class="networks__link _icon-telegram" href="#"></a>
									</li>

									<li class="networks__contact">
										<a class="networks__link _icon-whatsapp" href="#"></a>
									</li>

									<li class="networks__contact">
										<a class="networks__link _icon-viber" href="#"></a>
									</li>
								</ul>

								<span class="networks__note">
									Нажмите, чтобы перейти в диалог
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hero__view">
			<ul class="hero__covid">
				<li class="covid covid-one">
					<img class="covid-one__picture" src="img/covid/1.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-two">
					<img class="covid-two__picture" src="img/covid/1.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-three">
					<img class="covid-three__picture" src="img/covid/1.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-fore">
					<img class="covid-fore__picture" src="img/covid/1.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-five">
					<img class="covid-five__picture" src="img/covid/1.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-six">
					<img class="covid-six__picture" src="img/covid/2.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-seven">
					<img class="covid-seven__picture" src="img/covid/2.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-eight">
					<img class="covid-eight__picture" src="img/covid/2.png" alt="Изображение - вирус">
				</li>

				<li class="covid covid-nine">
					<img class="covid-nine__picture" src="img/covid/2.png" alt="Изображение - вирус">
				</li>
			</ul>

			<img class="hero__image" src="img/background/preview.png" alt="Превью">
		</div>
	</div>
</section>