<section class="hits" id="hits">

	<div class="_container">
		<div class="hits__content">
			<h2 class="hits__title _title">
				<span class="sr-only">
					Хиты продаж
				</span>
				Хиты продаж
			</h2>

			<div class="covid covid-14">
				<img class="covid-14__picture" src="img/covid/2.png" alt="Изображение - вирус">
			</div>

			<ul class="hits__slider _swiper">
				<li class="hits__slider-slide">
					<div class="hits__card">
						<div class="hits__product">
							@@include('cards/product_2.html',{})
						</div>

						<div class="hits__examples">
							<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
						</div>

						<div class="hits__example">
							<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
						</div>
					</div>
				</li>

				<li class="hits__slider-slide">
					<div class="hits__card">
						<div class="hits__product">
							@@include('cards/product_2.html',{})
						</div>

						<div class="hits__examples">
							<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
						</div>

						<div class="hits__example">
							<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
						</div>
					</div>
				</li>

				<li class="hits__slider-slide">
					<div class="hits__card">
						<div class="hits__product">
							@@include('cards/product_2.html',{})
						</div>

						<div class="hits__examples">
							<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
						</div>

						<div class="hits__example">
							<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
						</div>
					</div>
				</li>

				<li class="hits__slider-slide">
					<div class="hits__card">
						<div class="hits__product">
							@@include('cards/product_2.html',{})
						</div>

						<div class="hits__examples">
							<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
						</div>

						<div class="hits__example">
							<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
						</div>
					</div>
				</li>

				<li class="hits__slider-slide">
					<div class="hits__card">
						<div class="hits__product">
							@@include('cards/product_2.html',{})
						</div>

						<div class="hits__examples">
							<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
						</div>

						<div class="hits__example">
							<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
						</div>
					</div>
				</li>
			</ul>

			<div class="hits__nav">
				<div class="hits__prev _icon-p-left"></div>
				<div class="hits__next _icon-p-right"></div>
			</div>

			<div class="hits__pagination"></div>

		</div>
	</div>
</section>