<section class="hits" id="hits">
	<div class="hits__content _container">
		<h2 class="hits__title _title">
			<span class="sr-only">
				Хиты продаж
			</span>
			Хиты продаж
		</h2>

		<ul class="hits-slider _swiper">
			<li class="hits-slider__slide">
				<div class="hits__card">
					@@include('cards/product_2.html',{})
				</div>
				<div class="hits__examples">
					<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
				</div>
				<div class="hits__example">
					<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
				</div>
			</li>

			<li class="hits-slider__slide">
				<div class="hits__card">
					@@include('cards/product_2.html',{})
				</div>
				<div class="hits__examples">
					<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
				</div>
				<div class="hits__example">
					<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
				</div>
			</li>

			<li class="hits-slider__slide">
				<div class="hits__card">
					@@include('cards/product_2.html',{})
				</div>
				<div class="hits__examples">
					<img class="hits__ex-image" src="img/background/cucumbers.jpg" alt="Маски с рисунком - Огурцы">
				</div>
				<div class="hits__example">
					<img class="hits__image" src="img/background/ex-2.jpg" alt="Маска с рисунком - Огурцы">
				</div>
			</li>
		</ul>

		<div class="hits__nav">
			<div class="hits__prev"></div>
			<div class="hits__next"></div>
		</div>

		<div class="hits__pagination"></div>

	</div>
</section>