<section class="popular" id="popular">
	<div class="_container">
		<div class="popular__content">

			<h2 class="popular__title _title">
				<span class="sr-only">
					Популярные
				</span>
				Популярные
			</h2>

			<div class="covid covid-15">
				<img class="covid-15__picture" src="img/covid/1.png" alt="Изображение - вирус">
			</div>

			<ul class="popular__slider _swiper">
				<li class="popular__slider-slide">
					@@include('cards/product_1.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_2.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_3.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_1.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_2.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_3.html',{})
				</li>

				<li class="popular__slider-slide">
					@@include('cards/product_1.html',{})
				</li>
			</ul>

			<div class="popular__arrows">
				<div class="popular__prev _icon-p-left"></div>
				<div class="popular__next _icon-p-right"></div>
			</div>

			<span class="popular__rectangle"></span>

			<div class="popular__pagination"></div>
		</div>
	</div>
</section>