<section class="request">
	<h3 class="request__title">
		Оставте заявку
	</h3>

	<div class="request__description">
		<span class="request__announcement">
			Оставте свои контакты и мы вам перезвоним
		</span>

		<div class="request__block">
			<span class="request__note">
				Нажмите чтобы связаться с нами через мессенджеры
			</span>

			@@include('networks.html',{})
		</div>
	</div>

	<form class="request__form form" action="#">

		<label class="request__label label">
			<input class="request__input request__input--name input" type="text" name="name" autocomplete="off"
				placeholder="Ваше имя" required>
		</label>

		<label class="request__label label">
			<input class="request__input request__input--phone input" type="tel" name="tel" autocomplete="off"
				placeholder="+7 *** ** **" required>
		</label>

		<button class="request__button button" type="submit">
			Оставить заявку
		</button>

	</form>
	<span class="request__attention">
		Нажимия кнопку, вы даете согласие на обработку своих персональных данных
	</span>
</section>