<article class="product">
	<span class="sr-only">
		Карточка товара
	</span>

	<a class="product__image" href="img/products/1.jpg">
		<img class="product__img" src="img/products/1.jpg" alt="Маска Авакадо">
	</a>

	<div class="product__content">
		<h4 class="product__title">
			Двухслойная маска
		</h4>
		<span class="product__name">
			“ Космос”
		</span>

		<div class="product__inner">
			<ul class="product__list">
				<li class="product__amount">
					от 5 шт. - 230 ₽
				</li>

				<li class="product__amount">
					от 10 шт. - 220 ₽
				</li>

				<li class="product__amount">
					от 50 шт. - 200 ₽
				</li>

				<li class="product__amount">
					от 100 шт. - 190 ₽
				</li>
			</ul>

			<div class="product__description">
				<p>
					На опт от 50 шт цена может варьироваться
					в зависимости от сложности изображения
				</p>
			</div>
		</div>

		<div class="product__price">
			<span class="product__old-price">
				Старая цена: 450 ₽
			</span>
			<span class="product__new-price">
				Цена: 250 ₽
			</span>
			<span class="product__value">
				(за 1 шт.)
			</span>
		</div>

		<button class="product__button _btn button" type="button">
			Заказать маску

		</button>
	</div>

</article>